/* Main Font Import */
@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

:root {
    --content-bg-color: rgba(26, 26, 26, 0.8);
    --content-box-shadow: rgb(84, 83, 83) 5px 5px 10px;
    --button-primary-color: rgba(255, 255, 255, 0.5);
}

* {
    font-family: "Preahvihear", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    transition: background-color 0.5s ease-in;
}

.bg-dark {
    background-color:#333;
}

.bg-light {
    background-color:#fff;
}

.content {
    text-align: center;
    background:var(--content-bg-color);
    padding:15px;
    box-shadow:var(--content-box-shadow);
    margin-top:1%;
    height:calc(100vh - 5%);
}

.theme-changer-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 1000;
}

.theme-changer {
    padding:10px;
    color:yellow;
    font-size:25px;
    cursor:pointer;
}

.title-content-container {
    position:relative;
    background:var(--content-bg-color);
    opacity:1;
    border:1px solid #000;
    border-radius:5px;
    filter:contrast(1.15);
}

.title-content {
    padding:10px;
}

.title {
    cursor:pointer;
    text-align: center;
    padding:15px;
    user-select:none;
    color:rgba(255, 255, 255, 0.5);
}

.join-server-container {
    padding:15px;
    margin-top:2%;
}

.join-server-content {
    padding:15px;
    background: var(--content-bg-color);
    border-radius:5px;
}

.join-server {
    padding:15px;
    border-radius:5px;
}

.join-server-button {
    padding:15px;
    border:1px solid black;
    border-radius:5px;
    background:var(--button-primary-color);
}

.join-server-button:hover {
    box-shadow:var(--content-box-shadow);
    transform:scale(1.05);
    transition:box-shadow 0.25s ease-in, transform 0.25s ease-in;
}

.menu-buttons {
    display: flex; /* Make the container a flex container */
    justify-content: center; /* Align items horizontally */
    align-items: center; /* Align items vertically */
    margin-right:5%;
}


.profile-content-container {
    text-align: initial;
    padding: 10px;
    border: 1px solid #ccc;
    width: 15%;
    cursor: pointer;
    background: var(--button-primary-color);
    border-radius: 5px;
    user-select: none;
    margin-top:5%;
    margin-left:5%;
    cursor:pointer;
}

.profile-content {
    padding: 15px;
    text-align: center; /* Center align the contents */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    padding: 1px;
}

.profile-icon {
    display: block; /* Make the icon block-level element */
    margin: 0 auto; /* Center the icon horizontally */
    text-align: center;
    font-size:30px;
}

.profile-title {
    padding: 10px;
    color: #ccc;
    font-size: 15px;
    text-align: center;
}

.profile-content-container:hover {
    box-shadow:var(--content-box-shadow);
    transform:scale(1.05);
    transition:box-shadow 0.25s ease-in, transform 0.25s ease-in;
}

.jobs-content-container {
    text-align: initial;
    padding: 10px;
    border: 1px solid #ccc;
    width: 15%;
    cursor: pointer;
    background: var(--button-primary-color);
    border-radius: 5px;
    user-select: none;
    margin-top:5%;
    margin-left:5%;
    cursor:pointer;
}

.jobs-content {
    padding: 15px;
    text-align: center; /* Center align the contents */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jobs {
    padding: 1px;
}

.jobs-icon {
    display: block; /* Make the icon block-level element */
    margin: 0 auto; /* Center the icon horizontally */
    text-align: center;
    font-size:30px;
}

.jobs-title {
    padding: 10px;
    color: #ccc;
    font-size: 15px;
    text-align: center;
}

.jobs-content-container:hover {
    box-shadow:var(--content-box-shadow);
    transform:scale(1.05);
    transition:box-shadow 0.25s ease-in, transform 0.25s ease-in;
}

.shop-content-container {
    text-align: initial;
    padding: 10px;
    border: 1px solid #ccc;
    width: 15%;
    cursor: pointer;
    background: var(--button-primary-color);
    border-radius: 5px;
    user-select: none;
    margin-top:5%;
    margin-left:5%;
    cursor:pointer;
}

.shop-content {
    padding: 15px;
    text-align: center; /* Center align the contents */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop {
    padding: 1px;
}

.shop-icon {
    display: block; /* Make the icon block-level element */
    margin: 0 auto; /* Center the icon horizontally */
    text-align: center;
    font-size:30px;
}

.shop-title {
    padding: 10px;
    color: #ccc;
    font-size: 15px;
    text-align: center;
}

.shop-content-container:hover {
    box-shadow:var(--content-box-shadow);
    transform:scale(1.05);
    transition:box-shadow 0.25s ease-in, transform 0.25s ease-in;
}

.help-content-container {
    text-align: initial;
    padding: 10px;
    border: 1px solid #ccc;
    width: 15%;
    cursor: pointer;
    background: var(--button-primary-color);
    border-radius: 5px;
    user-select: none;
    margin-top:5%;
    margin-left:5%;
    cursor:pointer;
}

.help-content {
    padding: 15px;
    text-align: center; /* Center align the contents */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help {
    padding: 1px;
}

.help-icon {
    display: block; /* Make the icon block-level element */
    margin: 0 auto; /* Center the icon horizontally */
    text-align: center;
    font-size:30px;
}

.help-title {
    padding: 10px;
    color: #ccc;
    font-size: 15px;
    text-align: center;
}

.help-content-container:hover {
    box-shadow:var(--content-box-shadow);
    transform:scale(1.05);
    transition:box-shadow 0.25s ease-in, transform 0.25s ease-in;
}